@font-face {
    font-family: segment;
    src: url('art/7segment.ttf');
}

h1 {
    color: darkcyan;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5in;
    margin-bottom: 2vh;
}

h2 {
    color: darkolivegreen;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 4vh;
    margin-top: 0;
    padding-top: 5vh;
}

.countdown {
    color: crimson;
    font-family: segment;
    font-size: 15vh;
    text-align: center;
}

.slide {
    background-color: #eee;
    overflow-y: hidden; 
    overflow-x: hidden;
    height: 100vh;
    margin: auto;
    scroll-snap-align: start none;
}

.vert {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    background-color: #eee;
    margin: 0;
}

html {
    scroll-snap-type: y mandatory;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}

* {
    position: relative;
    z-index: 2;
}

a {
    color: inherit;
}
